<h1>Question Page</h1>

<h1><%= @question.title %> </h1>

<h2><%= @question.question %></h2>

 <h2>Answer the Question!</h2>

<% @answers.each do |answer| %>
  <p>Answer: <%= answer.description %></p>
<% end %>

 <%= form_for [@question, @new_answer] do |f| %>
   <%= f.label :description %>
   <%= f.text_field :description %>

   <%= f.submit %>
 <% end %>


 <%= link_to 'Edit this Question', edit_question_path(@question) %>

 <%= link_to 'Delete', @question, method: :delete %>

 <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
